@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: montserrat, sans-serif;
    font-weight: 300;
    color: #676262;  
}

/*Navigation menu, headings and Logo*/

h1, h2 {
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #DAA520;
}

#logo{
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

#logo, #nav-menu {
    line-height: 75px;
}

#nav-menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
}

#nav-menu li {
    list-style-type: none;
    margin-right: 30px;
    display: inline-block;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

#nav-menu a:hover {
    color: #DAA520;
    border-bottom: 1px solid #676262;
}

/*Yoga image*/
#yoga {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

#yoga-image {
    width: 100%;
    height: 500px;
    background: url('../images/yogi.jpg') no-repeat center center;

    
}

/*Welcome */

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#about p {
    text-align: left;
    font-size: 120%;
    margin-left: 40px;
    padding: 10px 5px;

}

/* styling yoga techniques section*/

#tech-header {
    width: 100%;
}

.tech-header h2 {
    text-align: center;
    font-size: 250%;
    letter-spacing: 3px;
    margin: 20px 0;
}

#tech-yoga {
    width: 100%;
    background-image: url(../images/yoga-pos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    width: 100%;
}
#tech-yoga h3 {
   text-align: center;
   font-size: 150%;
   width: 100%;
   text-transform: uppercase;
   font-weight: 400%;
   font-family: 'oswald', sans-serif;
   color: #ffffff;
   letter-spacing: 2px;
   
}
hr{
    border-top: 1px solid #DAA520;
    width: 100%;
    margin: 5px 0;
}

#tech-yoga div {
    width: 25%;
    height: 450px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, .4);
    float: left;
    padding: 30px 0 0 10px;
    text-align: justify;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 5px;
    

}

#tech-yoga p {
    font-size: 100%;
    font-family: 'montserrat', sans-serif;
    padding: 5px 5px;
    font-weight: 400%;
    color: #ffffff;
}

#mantra-cont {
    width: 100%;
}

#left-cont{
    width: 33%;
    float: left;
}
#left-cont h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: #DAA520;
    text-transform: uppercase;
    font-size: 150%;
    clear: both;

}

#right-cont{
    width: 33%;
    float: right;
}

#right-cont h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: #DAA520;
    text-transform: uppercase;
    font-size: 150%;
    clear: both;

}

#right-cont p{
    text-align: center;
    font-size: 110%;
    width: 100%;
}

#center-cont {
    width: 33%;
    margin: 0 auto;
}

#center-cont h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: #DAA520;
    text-transform: uppercase;
    font-size: 150%;   
}

#center-cont div {
    width: 100%;
    font-size: 110%;
    text-align: left;
    margin: 0 auto;
    padding-left: 50px;
    padding-bottom: 5px;
}

.cont {
    text-align: left;
    margin-left: 50px;
    font-weight: bold;
    color: black;
    padding-bottom: 15px;
    
}


table {
    text-align: center;
    width: 70%;
    margin-left: 40px;
}

tr {
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
    color: black;
}

td{
    padding-top: 5px;
}

/*footer*/
.social-networks {
    width: 100%;
    font-size: 120%;
    text-align: center;
    clear: left;
    color: #DAA520;
    margin-top: 5px;
}


.social-networks li{
    display: inline;
    list-style-type: none;
    text-decoration: none;
}


.social-networks i{
    
    color: #DAA520;
    padding: 2%;
}

footer > p {
    font-size: 80%;
    text-align: center;
    margin-top: 1px;
    color: black;
}

/* signup page*/
.register {
    clear: left;
    background: url("../images/pexels-prasanth-inturi-1051838.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.reg-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color:rgba(29, 27, 27, 0.6);
    max-width: 450px;
    position: absolute;
    left: 10%;
    padding: 30px;
    font-size: 100%;
}

.reg-form h2{
    Color: #f3e6e6;
    margin-bottom: 20px;
    text-align: center;
}

.in-text {
    background: transparent;
    color: #f3e6e6;
    width: 100%;
    height: 35px;
    margin: 5px 0 25px 0;
    border: 2px solid #DAA520;
    border-radius: 2px;
    text-decoration: none;
    
}

.in-text:hover {
    border-color: #f3e6e6;
}
.in-text::placeholder {
    text-align: left;
    color: #f3e6e6;
    font-size: 100%;
    margin-left: 1%;
}

.reg-button {
    text-align: center;
    display: block;
    font-size: 115%;
    background-color: #DAA520;
    color: #f3e6e6;
    margin-top: 25px;
    padding: 15px 32px 15px 32px;
    text-transform: uppercase;
}

.reg-button:hover {
    background-color: #f3e6e6;
    color: #DAA520;
}

/* Media queries */

/* For large and Medium screen size from 1200px wide and down */
@media screen and (max-width: 1200px) {
   #tech-yoga > div {
        width: 100%;
        clear: both;
        height: 200px;
        padding: 0;
   }

   #mantra-cont {
    width: 65%;
    height: 500px;
    margin: 0 auto;
   }

   #tech-header{
    padding: 30px 0;
    /*margin to cleanup any additional gap inherited*/
    margin: 0;
   }

   #left-cont, #right-cont{
        width: 100%;
        float: left;
        padding: 0;
        text-align: center;
   }

   #center-cont{
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
        text-align: center;
   }

   #left-cont, #right-cont, #center-cont h3{
    margin-top: 10px;
    text-align: center;
   }
}